header{
    position: relative;
    border: 5px solid black;
    height: 37em;
}

header .header_intro_links{
    margin-top: 13em;
}

a{
    text-decoration: none;
}
nav{
     position:-webkit-sticky; 
     position: sticky; 
    top: 10px;
    border: 4px solid green;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    border: 3px solid orange;
   padding-top: 15px;
   text-align: justify;
}
.menu{
    display: none;
}
nav .navigation_pages{
    border: 3px solid yellowgreen;
    text-align: left;
    padding-right: 5px;
    word-spacing: 15px;
}
ul .page_link{
    list-style: none;
    display: inline;
}
.header_intro_links{
    border: 3px solid red;
    text-align: center;
}
.header_intro_links a{
    border: 2px solid black;
    margin: 5px;
}
