header{
    position: relative;
    height:40em ;
    width: 100%;
border: 5px solid green;
}

.menu{
     display:none;
 }

.navigation{
    border: 5px solid red;
    display: inline;
    
}
.logo{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    border: 5px solid green;
    text-align: left;
    float: left;
    padding: 10px;
}

.navigation_pages{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    border: 5px solid blue;
    float: right;
    word-spacing: 60px;
    padding-right: 10px;

}
.page_link{
    text-decoration: none;
    list-style:none;
    display: inline;
    }

.header_intro_links{
    
    text-decoration: none;
}
.header_intro_links{
    position: relative;
    top: 19em;
    border: 3px solid green;
    text-align: center;
    
}

.header_intro_links a{
    border: 5px solid blue;
    text-decoration: none;
    text-align: left;
    }

    /* @ media queries */
    @media(max-width:687px){
        /* [class*="col-"] {
            width: 100%;
          } */
          .navigation_pages{
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
            /* height:100px; */
            float: right;
            display: block;
            border: 3px solid black;
          }
          .navigation_pages_group .page_link{
            display: none;
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
            float: right;
          }
          .page_link{
            text-decoration: none;
            list-style:none;
            
            }
            .menu{
            display:block;
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
            float: right;
            border: 3px solid rebeccapurple;
            
            }
            .ul li{
                position: absolute;
                border: 3px solid black;
                float: right;
            }
            .navigation_pages:hover {
                background-color: gray;
            }
            .navigation_pages:hover li{
                 display: block;
            }
    }